#download{
    color: aquamarine;
    font-size: 12px;
}

#files-list{
    color: cadetblue;
    font-size: 12px;
}

#quote{
    color: black;
    font-size: 15px;
}

#process_table{
    color: white;
    font-size: 15px;
}

#result_table{
    color: white;
    font-size: 15px;
}